.incorrect {
  background: linear-gradient(to bottom, white 5%, #fcc 100%);
  border: 3px solid red;
}

.correct {
  background: linear-gradient(to bottom, white 5%, rgb(200, 255, 202) 100%);
  border: 3px solid rgb(6, 240, 15);
}
